In [1]:
import pandas as pd

In [2]:
epl_path = []
epl_date = []
for i in range(1,13):
    for k in range(1,32):
        if i < 8:
            if k < 10:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-0'+str(i)+'-0'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-0'+str(k))
            else:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-0'+str(i)+'-'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-'+str(k))
        elif i < 10:
            if k < 10:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-0'+str(i)+'-0'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-0'+str(k))
            else:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-0'+str(i)+'-'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-'+str(k))
        else:
            if k < 10:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-'+str(i)+'-0'+str(k)+'.all-epl-games.json')
                epl_date.append(str(i)+'-0'+str(k))
            else:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-'+str(i)+'-'+str(k)+'.all-epl-games.json')
                epl_date.append(str(i)+'-'+str(k))

In [3]:
epl_path[0:10]

['/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-01.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-02.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-03.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-04.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-05.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-06.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-07.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-08.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-09.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-10.all-epl-games.json']

In [4]:
epl_dat = pd.DataFrame()
for path, date in zip(epl_path,epl_date):
    try:
        temp_df = pd.read_json(path)
        temp_df['fixture_date'] = date
        sequence = [epl_dat,temp_df]
        epl_dat = pd.concat(sequence)
    except:
        pass

In [5]:
epl_dat.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 63590 entries, 0.0 to 189.0
Data columns (total 8 columns):
away            63590 non-null object
fixture_date    63590 non-null object
home            63590 non-null object
id              63590 non-null float64
link            63590 non-null object
score           63590 non-null object
status          63590 non-null object
time            63590 non-null float64
dtypes: float64(2), object(6)
memory usage: 4.4+ MB

In [7]:
epl_dat.head()

,away,fixture_date,home,id,link,score,status,time
0.0,Liverpool FC,01-01,Sunderland AFC,2043275.0,/en-us/match/sunderland-vs-liverpool/2043275,"[0 , 1]",played,1.451505e+09
1.0,Manchester City FC,01-01,Leicester City FC,2043277.0,/en-us/match/leicester-city-vs-manchester-city...,"[0 , 0]",played,1.451418e+09
2.0,AFC Bournemouth,01-01,Arsenal FC,2043272.0,/en-us/match/arsenal-vs-afc-bournemouth/2043272,"[2 , 0]",played,1.451324e+09
3.0,Swansea City AFC,01-01,Crystal Palace FC,2043284.0,/en-us/match/crystal-palace-vs-swansea-city/20...,"[0 , 0]",played,1.451315e+09
4.0,Stoke City FC,01-01,Everton FC,2043283.0,/en-us/match/everton-vs-stoke-city/2043283,"[3 , 4]",played,1.451315e+09

In [8]:
stad = pd.read_csv('/home/llevin/capstone/FootballData/other/stadiums-with-GPS-coordinates.csv')

In [10]:
stad.head()

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country
0,Arsenal,Arsenal,London,Emirates Stadium,60361,51.555000,-0.108611,England
1,Aston Villa,Aston Villa,Birmingham,Villa Park,42785,52.509167,-1.884722,England
2,Blackburn Rovers,Blackburn,Blackburn,Ewood Park,31154,53.728611,-2.489167,England
3,Bolton Wanderers,Bolton,Bolton,Reebok Stadium,28100,53.580556,-2.535556,England
4,Chelsea,Chelsea,London,Stamford Bridge,42449,51.481667,-0.191111,England

In [15]:
epl_2015_results = pd.read_json('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015-results.json')

In [16]:
epl_2015_results.head()

,away,awayEvents,date,home,homeEvents,score
0,Liverpool,"[{u'count': u'2', u'type': u'Goals scored', u'...",31 Oct 12:45,Chelsea,"[{u'count': u'1', u'type': u'Goals scored', u'...",1 - 3
1,Man Utd,"[{u'count': u'1', u'type': u'Yellow cards', u'...",31 Oct 15:00,Crystal Palace,"[{u'count': u'1', u'type': u'Yellow cards', u'...",0 - 0
2,Norwich,"[{u'count': u'1', u'type': u'Goals scored', u'...",31 Oct 15:00,Man City,"[{u'count': u'1', u'type': u'Goals scored', u'...",2 - 1
3,Stoke,"[{u'count': u'1', u'type': u'Yellow cards', u'...",31 Oct 15:00,Newcastle,"[{u'count': u'1', u'type': u'Yellow cards', u'...",0 - 0
4,Arsenal,"[{u'count': u'1', u'type': u'Goals scored', u'...",31 Oct 15:00,Swansea,"[{u'count': u'1', u'type': u'Yellow cards', u'...",0 - 3

In [19]:
epl_2015_results['awayEvents'][0]

[{u'count': u'2', u'name': u'Coutinho', u'type': u'Goals scored'},
 {u'count': u'1', u'name': u'Benteke', u'type': u'Goals scored'},
 {u'count': u'1', u'name': u'Ibe', u'type': u'Assists'},
 {u'count': u'1', u'name': u'Firmino', u'type': u'Assists'},
 {u'count': u'1', u'name': u'Benteke', u'type': u'Assists'},
 {u'count': u'1', u'name': u'Lucas', u'type': u'Yellow cards'},
 {u'count': u'1', u'name': u'Coutinho', u'type': u'Yellow cards'},
 {u'count': u'1', u'name': u'Can', u'type': u'Yellow cards'},
 {u'count': u'1', u'name': u'Benteke', u'type': u'Yellow cards'},
 {u'count': u'1', u'name': u'Mignolet', u'type': u'Saves'},
 {u'count': u'3', u'name': u'Coutinho', u'type': u'Bonus'},
 {u'count': u'2', u'name': u'Benteke', u'type': u'Bonus'}]

In [4]:
epl['score'] = epl['score'].str.split('-')

In [20]:
epl.head()

,away,awayEvents,date,home,homeEvents,score,home_score,away_score
0,Man Utd,"[{u'count': u'1', u'type': u'Goals scored', u'...",14 Aug 19:45,Aston Villa,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 1]",0,1
1,Everton,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 12:45,Southampton,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 3]",0,3
2,Stoke,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Spurs,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 2]",2,2
3,Norwich,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Sunderland,"[{u'count': u'1', u'type': u'Goals scored', u'...","[1 , 3]",1,3
4,Newcastle,"[{u'count': u'1', u'type': u'Yellow cards', u'...",15 Aug 15:00,Swansea,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 0]",2,0

In [7]:
epl['home_score'] = epl['score'].map(lambda x: x[0])

In [17]:
epl.dropna(inplace=True)

In [19]:
epl['away_score'] = epl['score'].map(lambda x: x[1])

In [18]:
for i, v in enumerate(epl['score']):
    print i, v

0 [u'0 ', u' 1']
1 [u'0 ', u' 3']
2 [u'2 ', u' 2']
3 [u'1 ', u' 3']
4 [u'2 ', u' 0']
5 [u'0 ', u' 0']
6 [u'1 ', u' 2']

In [42]:
def data_cleaning(series):
    if 'Events' in series.column:
        if 'home' in seres.column:

,away,awayEvents,date,home,homeEvents,score,home_score,away_score
0,Man Utd,"[{u'count': u'1', u'type': u'Goals scored', u'...",14 Aug 19:45,Aston Villa,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 1]",0,0
1,Everton,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 12:45,Southampton,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 3]",0,0
2,Stoke,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Spurs,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 2]",2,2
3,Norwich,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Sunderland,"[{u'count': u'1', u'type': u'Goals scored', u'...","[1 , 3]",1,1
4,Newcastle,"[{u'count': u'1', u'type': u'Yellow cards', u'...",15 Aug 15:00,Swansea,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 0]",2,2