In [1]:
import pandas as pd

In [23]:
epl_path = []
epl_date = []
for i in range(1,13):
    for k in range(1,32):
        if i < 8:
            if k < 10:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-0'+str(i)+'-0'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-0'+str(k))
            else:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-0'+str(i)+'-'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-'+str(k))
        elif i < 10:
            if k < 10:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-0'+str(i)+'-0'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-0'+str(k))
            else:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-0'+str(i)+'-'+str(k)+'.all-epl-games.json')
                epl_date.append('0'+str(i)+'-'+str(k))
        else:
            if k < 10:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-'+str(i)+'-0'+str(k)+'.all-epl-games.json')
                epl_date.append(str(i)+'-0'+str(k))
            else:
                epl_path.append('/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2015-'+str(i)+'-'+str(k)+'.all-epl-games.json')
                epl_date.append(str(i)+'-'+str(k))

In [27]:
epl_path[0:10]

['/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-01.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-02.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-03.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-04.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-05.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-06.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-07.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-08.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-09.all-epl-games.json',
 '/home/llevin/capstone/FootballData/EPL 1992 - 2015/2015/2016-01-10.all-epl-games.json']

In [32]:
epl_dat = pd.DataFrame()
for path, date in zip(epl_path,epl_date):
    try:
        temp_df = pd.read_json(path)
        temp_df['fixture_date'] = date
        sequence = [epl_dat,temp_df]
        epl_dat = pd.concat(sequence)
    except:
        pass

In [30]:
epl_dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 199
Data columns (total 8 columns):
away            1988 non-null object
home            1988 non-null object
id              1988 non-null int64
link            1988 non-null object
score           1988 non-null object
status          1988 non-null object
time            1988 non-null int64
fixture_date    1988 non-null object
dtypes: int64(2), object(6)
memory usage: 139.8+ KB

In [31]:
epl_dat.head()

,away,home,id,link,score,status,time,fixture_date
0,Liverpool FC,Sunderland AFC,2043275,/en-us/match/sunderland-vs-liverpool/2043275,"[0 , 1]",played,1451504700,01-01
1,Manchester City FC,Leicester City FC,2043277,/en-us/match/leicester-city-vs-manchester-city...,"[0 , 0]",played,1451418300,01-01
2,AFC Bournemouth,Arsenal FC,2043272,/en-us/match/arsenal-vs-afc-bournemouth/2043272,"[2 , 0]",played,1451323800,01-01
3,Swansea City AFC,Crystal Palace FC,2043284,/en-us/match/crystal-palace-vs-swansea-city/20...,"[0 , 0]",played,1451314800,01-01
4,Stoke City FC,Everton FC,2043283,/en-us/match/everton-vs-stoke-city/2043283,"[3 , 4]",played,1451314800,01-01

In [4]:
epl['score'] = epl['score'].str.split('-')

In [20]:
epl.head()

,away,awayEvents,date,home,homeEvents,score,home_score,away_score
0,Man Utd,"[{u'count': u'1', u'type': u'Goals scored', u'...",14 Aug 19:45,Aston Villa,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 1]",0,1
1,Everton,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 12:45,Southampton,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 3]",0,3
2,Stoke,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Spurs,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 2]",2,2
3,Norwich,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Sunderland,"[{u'count': u'1', u'type': u'Goals scored', u'...","[1 , 3]",1,3
4,Newcastle,"[{u'count': u'1', u'type': u'Yellow cards', u'...",15 Aug 15:00,Swansea,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 0]",2,0

In [7]:
epl['home_score'] = epl['score'].map(lambda x: x[0])

In [17]:
epl.dropna(inplace=True)

In [19]:
epl['away_score'] = epl['score'].map(lambda x: x[1])

In [18]:
for i, v in enumerate(epl['score']):
    print i, v

0 [u'0 ', u' 1']
1 [u'0 ', u' 3']
2 [u'2 ', u' 2']
3 [u'1 ', u' 3']
4 [u'2 ', u' 0']
5 [u'0 ', u' 0']
6 [u'1 ', u' 2']

In [42]:
def data_cleaning(series):
    if 'Events' in series.column:
        if 'home' in seres.column:

,away,awayEvents,date,home,homeEvents,score,home_score,away_score
0,Man Utd,"[{u'count': u'1', u'type': u'Goals scored', u'...",14 Aug 19:45,Aston Villa,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 1]",0,0
1,Everton,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 12:45,Southampton,"[{u'count': u'1', u'type': u'Yellow cards', u'...","[0 , 3]",0,0
2,Stoke,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Spurs,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 2]",2,2
3,Norwich,"[{u'count': u'1', u'type': u'Goals scored', u'...",15 Aug 15:00,Sunderland,"[{u'count': u'1', u'type': u'Goals scored', u'...","[1 , 3]",1,1
4,Newcastle,"[{u'count': u'1', u'type': u'Yellow cards', u'...",15 Aug 15:00,Swansea,"[{u'count': u'1', u'type': u'Goals scored', u'...","[2 , 0]",2,2