In [1]:
import pandas as pd
from haversine import haversine

In [6]:
epl_path = []
for i in range(25,9,-1):
    if i < 9:
        epl_path.append('/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/199'+str(i)+'-199'+str(i+1)+'/Premier.csv')
    elif i == 9:
        epl_path.append('/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/199'+str(i)+'-2000/Premier.csv')
    elif i < 19:
        epl_path.append('/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/200'+str(i-10)+'-200'+str(i-9)+'/Premier.csv')
    elif i == 19:
        epl_path.append('/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/200'+str(i-10)+'-20'+str(i-9)+'/Premier.csv')
    else:
        epl_path.append('/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/20'+str(i-10)+'-20'+str(i-9)+'/Premier.csv')

In [7]:
epl_path

['/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2015-2016/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2014-2015/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2013-2014/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2012-2013/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2011-2012/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2010-2011/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2009-2010/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2008-2009/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2007-2008/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2006-2007/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2005-2006/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2004-2005/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2003-2004/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2002-2003/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2001-2002/Premier.csv',
 '/home/llevin/Desktop/capstone/databases/football-data.co.uk/england/2000-2001/Premier.csv']

In [8]:
premier_data = pd.DataFrame()
for path in epl_path:
    try:
        temp_df = pd.read_csv(path)
        sequence = [premier_data,temp_df]
        premier_data = pd.concat(sequence)
    except:
        pass

In [9]:
premier_data['HomeTeam'].head()

0       Arsenal
1     Leicester
2    Man United
3           QPR
4         Stoke
Name: HomeTeam, dtype: object

In [10]:
premier_data.rename(columns={'FTHG':'full_time_home_goals','FTAG':'full_time_away_goals','FTR':'result','HTHG':'half_time_home_goals',
                       'HTAG':'half_time_away_goals','HTR':'half_time_result','HS':'home_shots','AS':'away_shots','HST':'home_shots_target',
                       'AST':'away_shots_target','HHW':'home_post','AHW':'away_post','HC':'home_corners','AC':'away_corners','HF':'home_fouls',
                       'AF':'away_fouls','HO':'home_offside','AO':'away_offside','HY':'home_yellow_cards','AY':'away_yellow_cards',
                       'HR':'home_red_cards','AR':'away_red_cards','HBP':'home_booking_pts','ABP':'away_booking_pts'},inplace=True)

In [11]:
premier_data.head()

,away_booking_pts,away_corners,away_fouls,away_post,away_offside,away_red_cards,away_shots,away_shots_target,away_yellow_cards,Attendance,...,SJH,SYA,SYD,SYH,VCA,VCD,VCH,WHA,WHD,WHH
0,NaN,3,19,NaN,NaN,1,4,2,2,NaN,...,1.25,NaN,NaN,NaN,10.50,6.25,1.25,12.0,5.5,1.25
1,NaN,6,10,NaN,NaN,0,13,3,1,NaN,...,3.00,NaN,NaN,NaN,2.40,3.40,3.20,2.4,3.1,3.10
2,NaN,0,20,NaN,NaN,0,5,4,4,NaN,...,1.36,NaN,NaN,NaN,10.00,5.20,1.36,9.0,4.5,1.36
3,NaN,9,10,NaN,NaN,0,11,4,2,NaN,...,2.50,NaN,NaN,NaN,3.12,3.20,2.55,2.9,3.0,2.60
4,NaN,8,9,NaN,NaN,0,7,2,3,NaN,...,1.95,NaN,NaN,NaN,4.75,3.30,1.95,4.2,3.2,1.95

In [12]:
stad = pd.read_csv('/home/llevin/Desktop/capstone/databases/other/stadiums-with-GPS-coordinates.csv')

In [13]:
stad.head()

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country
0,Arsenal,Arsenal,London,Emirates Stadium,60361,51.555000,-0.108611,England
1,Aston Villa,Aston Villa,Birmingham,Villa Park,42785,52.509167,-1.884722,England
2,Blackburn Rovers,Blackburn,Blackburn,Ewood Park,31154,53.728611,-2.489167,England
3,Bolton Wanderers,Bolton,Bolton,Reebok Stadium,28100,53.580556,-2.535556,England
4,Chelsea,Chelsea,London,Stamford Bridge,42449,51.481667,-0.191111,England

In [16]:
weather_cl = pd.read_csv('/home/llevin/Desktop/capstone/cleaned_data/weather_df.csv')

/home/llevin/anaconda2/envs/dsi/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,6,7,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
stations = weather_cl[['station','long','lat']]
print len(stations)
stations.drop_duplicates(inplace=True)
print len(stations)
stations.reset_index(inplace=True,drop=True)
stations.head()

6659638
107

/home/llevin/anaconda2/envs/dsi/lib/python2.7/site-packages/pandas/util/decorators.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return func(*args, **kwargs)

  station    long      lat
0    EGLC  0.0553  51.5053
1    EGLL -0.4614  51.4785
2    EGKK -0.1903  51.1481
3    EGDL -1.9924  51.5032
4    EGDM -1.7546  51.1618

In [18]:
def weather_merge(stadiums, stations):
    #for each lat/long stadium, find the minimum haversine distance and append that weather station
    for index1 in stadiums.index:
        haversines = []
        for index2 in stations.index:
            h = haversine([stadiums.ix[index1,'Latitude'],stadiums.ix[index1,'Longitude']],
                                       [stations.ix[index2,'lat'],stations.ix[index2,'long']])
            haversines.append([h, index2])
        haversines = sorted(haversines, key=lambda x: x[0])
        min_hav = haversines[0]
        min_station = stations.ix[min_hav[1],'station']
        stadiums.ix[index1,'closest_station'] = min_station
    return stadiums

In [19]:
stadiums = weather_merge(stad,stations)
stadiums.head()

,Team,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country,closest_station
0,Arsenal,Arsenal,London,Emirates Stadium,60361,51.555000,-0.108611,England,EGLC
1,Aston Villa,Aston Villa,Birmingham,Villa Park,42785,52.509167,-1.884722,England,EGBB
2,Blackburn Rovers,Blackburn,Blackburn,Ewood Park,31154,53.728611,-2.489167,England,EGNO
3,Bolton Wanderers,Bolton,Bolton,Reebok Stadium,28100,53.580556,-2.535556,England,EGNO
4,Chelsea,Chelsea,London,Stamford Bridge,42449,51.481667,-0.191111,England,EGLC

In [20]:
premier_stad = premier_data.merge(stadiums.iloc[:,1:10],how='left',left_on='HomeTeam',right_on='FDCOUK')

In [21]:
premier_stad.head()

,away_booking_pts,away_corners,away_fouls,away_post,away_offside,away_red_cards,away_shots,away_shots_target,away_yellow_cards,Attendance,...,WHD,WHH,FDCOUK,City,Stadium,Capacity,Latitude,Longitude,Country,closest_station
0,NaN,3,19,NaN,NaN,1,4,2,2,NaN,...,5.5,1.25,Arsenal,London,Emirates Stadium,60361.0,51.555000,-0.108611,England,EGLC
1,NaN,6,10,NaN,NaN,0,13,3,1,NaN,...,3.1,3.10,Leicester,Leicester,King Power Stadium,32500.0,52.620278,-1.142222,England,EGNX
2,NaN,0,20,NaN,NaN,0,5,4,4,NaN,...,4.5,1.36,Man United,Stretford,Old Trafford,75811.0,53.463056,-2.291389,England,EGCC
3,NaN,9,10,NaN,NaN,0,11,4,2,NaN,...,3.0,2.60,QPR,London,Loftus Road,18439.0,51.509167,-0.232222,England,EGWU
4,NaN,8,9,NaN,NaN,0,7,2,3,NaN,...,3.2,1.95,Stoke,Stoke-on-Trent,Britannia Stadium,27740.0,52.988333,-2.175556,England,EGOS

In [22]:
premier_stad[['HomeTeam','FDCOUK']]

            HomeTeam          FDCOUK
0            Arsenal         Arsenal
1          Leicester       Leicester
2         Man United      Man United
3                QPR             QPR
4              Stoke           Stoke
5          West Brom       West Brom
6           West Ham        West Ham
7          Liverpool       Liverpool
8          Newcastle       Newcastle
9            Burnley         Burnley
10       Aston Villa     Aston Villa
11           Chelsea         Chelsea
12    Crystal Palace  Crystal Palace
13           Everton         Everton
14       Southampton     Southampton
15           Swansea         Swansea
16              Hull            Hull
17        Sunderland      Sunderland
18         Tottenham       Tottenham
19          Man City        Man City
20           Burnley         Burnley
21           Everton         Everton
22          Man City        Man City
23         Newcastle       Newcastle
24               QPR             QPR
25           Swansea         Swansea
26          West Ham        West Ham
27       Aston Villa     Aston Villa
28         Leicester       Leicester
29         Tottenham       Tottenham
...              ...             ...
4530       Newcastle       Newcastle
4531     Southampton     Southampton
4532       Tottenham       Tottenham
4533        Charlton             NaN
4534        Bradford             NaN
4535       Newcastle       Newcastle
4536         Arsenal         Arsenal
4537     Aston Villa     Aston Villa
4538        Bradford             NaN
4539         Chelsea         Chelsea
4540       Leicester       Leicester
4541       Liverpool       Liverpool
4542      Man United      Man United
4543      Sunderland      Sunderland
4544        West Ham        West Ham
4545         Ipswich         Ipswich
4546       Liverpool       Liverpool
4547           Leeds           Leeds
4548     Southampton     Southampton
4549       Newcastle       Newcastle
4550        Charlton             NaN
4551        Coventry        Coventry
4552           Derby           Derby
4553         Everton         Everton
4554           Leeds           Leeds
4555        Man City        Man City
4556   Middlesbrough   Middlesbrough
4557       Newcastle       Newcastle
4558     Southampton     Southampton
4559       Tottenham       Tottenham

[4560 rows x 2 columns]

In [23]:
premier_stad.columns

Index([u'away_booking_pts', u'away_corners', u'away_fouls', u'away_post',
       u'away_offside', u'away_red_cards', u'away_shots', u'away_shots_target',
       u'away_yellow_cards', u'Attendance', u'AwayTeam', u'B365A', u'B365D',
       u'B365H', u'BSA', u'BSD', u'BSH', u'BWA', u'BWD', u'BWH', u'Bb1X2',
       u'BbAH', u'BbAHh', u'BbAv<2.5', u'BbAv>2.5', u'BbAvA', u'BbAvAHA',
       u'BbAvAHH', u'BbAvD', u'BbAvH', u'BbMx<2.5', u'BbMx>2.5', u'BbMxA',
       u'BbMxAHA', u'BbMxAHH', u'BbMxD', u'BbMxH', u'BbOU', u'Date', u'Div',
       u'full_time_away_goals', u'full_time_home_goals', u'result', u'GBA',
       u'GBD', u'GBH', u'home_booking_pts', u'home_corners', u'home_fouls',
       u'home_post', u'home_offside', u'home_red_cards', u'home_shots',
       u'home_shots_target', u'half_time_away_goals', u'half_time_home_goals',
       u'half_time_result', u'home_yellow_cards', u'HomeTeam', u'IWA', u'IWD',
       u'IWH', u'LBA', u'LBD', u'LBH', u'PSA', u'PSD', u'PSH', u'Referee',
       u'SBA', u'SBD', u'SBH', u'SJA', u'SJD', u'SJH', u'SYA', u'SYD', u'SYH',
       u'VCA', u'VCD', u'VCH', u'WHA', u'WHD', u'WHH', u'FDCOUK', u'City',
       u'Stadium', u'Capacity', u'Latitude', u'Longitude', u'Country',
       u'closest_station'],
      dtype='object')

In [24]:
premier_stad = premier_stad[['HomeTeam','AwayTeam','Date','City','Stadium','Capacity','Latitude','Longitude','half_time_home_goals',
                            'home_shots','home_shots_target','home_post','home_corners','home_offside','home_fouls',
                             'home_yellow_cards','home_red_cards','home_booking_pts','half_time_away_goals','away_shots',
                             'away_shots_target','away_post','away_post','away_corners','away_offside','away_fouls',
                             'away_yellow_cards','away_red_cards','away_booking_pts','half_time_result','full_time_home_goals',
                            'full_time_away_goals','result','Attendance','closest_station']]

In [25]:
premier_stad.head()

,HomeTeam,AwayTeam,Date,City,Stadium,Capacity,Latitude,Longitude,half_time_home_goals,home_shots,...,away_fouls,away_yellow_cards,away_red_cards,away_booking_pts,half_time_result,full_time_home_goals,full_time_away_goals,result,Attendance,closest_station
0,Arsenal,Crystal Palace,16/08/14,London,Emirates Stadium,60361.0,51.555000,-0.108611,1,14,...,19,2,1,NaN,D,2,1,H,NaN,EGLC
1,Leicester,Everton,16/08/14,Leicester,King Power Stadium,32500.0,52.620278,-1.142222,1,11,...,10,1,0,NaN,A,2,2,D,NaN,EGNX
2,Man United,Swansea,16/08/14,Stretford,Old Trafford,75811.0,53.463056,-2.291389,0,14,...,20,4,0,NaN,A,1,2,A,NaN,EGCC
3,QPR,Hull,16/08/14,London,Loftus Road,18439.0,51.509167,-0.232222,0,19,...,10,2,0,NaN,D,0,1,A,NaN,EGWU
4,Stoke,Aston Villa,16/08/14,Stoke-on-Trent,Britannia Stadium,27740.0,52.988333,-2.175556,0,12,...,9,3,0,NaN,D,0,1,A,NaN,EGOS

In [26]:
premier_stad.to_csv('/home/llevin/Desktop/capstone/cleaned_data/input_data_v1.csv')

In [2]:
weather = pd.read_table('/home/llevin/Desktop/capstone/FootballData/asos.txt')

In [3]:
weather.head()

                      #DEBUG: Format Typ    -> comma
0  #DEBUG: Time Period   -> 2000-01-01 00:00:00+0...
1                   #DEBUG: Time Zone     -> Etc/UTC
2  #DEBUG: Data Contact   -> daryl herzmann akrhe...
3                        #DEBUG: Entries Found -> -1
4  station,valid,lon,lat, tmpf ,  dwpf ,  relh , ...

In [4]:
weather_clean = weather.iloc[4:]

In [5]:
weather_clean.head()

                      #DEBUG: Format Typ    -> comma
4  station,valid,lon,lat, tmpf ,  dwpf ,  relh , ...
5  EGLC,2000-01-01 10:20,0.0553,51.5053,48.20,44....
6  EGLL,2000-01-01 15:20,-0.4614,51.4785,48.20,44...
7  EGKK,2000-01-01 15:20,-0.1903,51.1481,48.20,44...
8  EGLL,2000-01-01 15:50,-0.4614,51.4785,48.20,44...

In [6]:
weather.columns

Index([u'#DEBUG: Format Typ    -> comma'], dtype='object')

In [7]:
len(weather_clean)

6659639

In [15]:
temp = weather_clean.iloc[0:10]

                       #DEBUG: Format Typ    -> comma
4   station,valid,lon,lat, tmpf ,  dwpf ,  relh , ...
5   EGLC,2000-01-01 10:20,0.0553,51.5053,48.20,44....
6   EGLL,2000-01-01 15:20,-0.4614,51.4785,48.20,44...
7   EGKK,2000-01-01 15:20,-0.1903,51.1481,48.20,44...
8   EGLL,2000-01-01 15:50,-0.4614,51.4785,48.20,44...
9   EGKK,2000-01-01 15:50,-0.1903,51.1481,48.20,44...
10  EGLL,2000-01-01 16:20,-0.4614,51.4785,46.40,42...
11  EGKK,2000-01-01 16:20,-0.1903,51.1481,48.20,42...
12  EGLL,2000-01-01 16:50,-0.4614,51.4785,42.80,41...
13  EGKK,2000-01-01 16:50,-0.1903,51.1481,46.40,42...

In [16]:
weather_cl = pd.DataFrame(map(lambda x: x.split(','),weather_clean['#DEBUG: Format Typ    -> comma']),
                          columns=['station','date','long','lat','temp (F)','dew (F)','humidity','wind direction',
                                  'wind speed (mph)','prec (in)','visibility (mi)'])

,station,date,long,lat,temp (F),dew (F),humidity,wind direction,wind speed (mph),prec (in),visibility (mi)
0,station,valid,lon,lat,tmpf,dwpf,relh,drct,sped,p01i,vsby
1,EGLC,2000-01-01 10:20,0.0553,51.5053,48.20,44.60,87.28,310.00,2.3,M,6.21
2,EGLL,2000-01-01 15:20,-0.4614,51.4785,48.20,44.60,87.28,180.00,5.8,M,6.21
3,EGKK,2000-01-01 15:20,-0.1903,51.1481,48.20,44.60,87.28,M,3.5,M,6.21
4,EGLL,2000-01-01 15:50,-0.4614,51.4785,48.20,44.60,87.28,190.00,3.5,M,6.21
5,EGKK,2000-01-01 15:50,-0.1903,51.1481,48.20,44.60,87.28,M,2.3,M,6.21
6,EGLL,2000-01-01 16:20,-0.4614,51.4785,46.40,42.80,87.19,90.00,2.3,M,6.21
7,EGKK,2000-01-01 16:20,-0.1903,51.1481,48.20,42.80,81.47,M,2.3,M,6.21
8,EGLL,2000-01-01 16:50,-0.4614,51.4785,42.80,41.00,93.30,0.00,0.0,M,6.21
9,EGKK,2000-01-01 16:50,-0.1903,51.1481,46.40,42.80,87.19,0.00,0.0,M,6.21
10,EGLL,2000-01-01 17:20,-0.4614,51.4785,46.40,42.80,87.19,0.00,0.0,M,6.21
11,EGKK,2000-01-01 17:20,-0.1903,51.1481,44.60,41.00,87.09,170.00,2.3,M,4.35
12,EGLL,2000-01-01 17:50,-0.4614,51.4785,46.40,42.80,87.19,0.00,0.0,M,6.21
13,EGKK,2000-01-01 17:50,-0.1903,51.1481,46.40,42.80,87.19,0.00,0.0,M,6.21
14,EGLL,2000-01-01 18:20,-0.4614,51.4785,46.40,44.60,93.40,0.00,0.0,M,6.21
15,EGKK,2000-01-01 18:20,-0.1903,51.1481,46.40,44.60,93.40,0.00,0.0,M,6.21
16,EGLL,2000-01-01 18:50,-0.4614,51.4785,46.40,44.60,93.40,180.00,2.3,M,6.21
17,EGKK,2000-01-01 18:50,-0.1903,51.1481,48.20,44.60,87.28,M,2.3,M,6.21
18,EGLL,2000-01-01 19:20,-0.4614,51.4785,46.40,44.60,93.40,170.00,2.3,M,4.97
19,EGKK,2000-01-01 19:20,-0.1903,51.1481,48.20,44.60,87.28,200.00,2.3,M,6.21
20,EGLL,2000-01-01 19:50,-0.4614,51.4785,46.40,44.60,93.40,170.00,2.3,M,6.21
21,EGKK,2000-01-01 19:50,-0.1903,51.1481,48.20,44.60,87.28,210.00,4.6,M,6.21
22,EGLL,2000-01-01 20:20,-0.4614,51.4785,46.40,44.60,93.40,200.00,2.3,M,4.97
23,EGKK,2000-01-01 20:20,-0.1903,51.1481,48.20,44.60,87.28,170.00,3.5,M,6.21
24,EGLL,2000-01-01 21:20,-0.4614,51.4785,48.20,44.60,87.28,0.00,0.0,M,6.21
25,EGKK,2000-01-01 21:20,-0.1903,51.1481,48.20,46.40,93.45,190.00,2.3,M,4.97
26,EGLL,2000-01-01 21:50,-0.4614,51.4785,48.20,44.60,87.28,0.00,0.0,M,6.21
27,EGKK,2000-01-01 21:50,-0.1903,51.1481,48.20,46.40,93.45,M,2.3,M,4.97
28,EGLL,2000-01-01 22:20,-0.4614,51.4785,48.20,46.40,93.45,0.00,0.0,M,4.97
29,EGKK,2000-01-01 22:20,-0.1903,51.1481,48.20,46.40,93.45,190.00,2.3,M,4.35
...,...,...,...,...,...,...,...,...,...,...,...
6659609,EGPE,2016-09-18 23:50,-4.0475,57.5425,53.60,51.80,93.60,230.00,11.5,0.00,6.21
6659610,EGKK,2016-09-18 23:50,-0.1903,51.1481,60.80,53.60,77.14,320.00,6.9,0.00,6.21
6659611,EGSS,2016-09-18 23:50,0.2232,51.8812,57.20,55.40,93.69,340.00,2.3,0.00,6.21
6659612,EGNJ,2016-09-18 23:50,-0.3508,53.5744,57.20,53.60,87.74,0.00,0.0,0.00,6.21
6659613,EGVN,2016-09-18 23:50,-1.5780,51.7585,55.40,51.80,87.65,260.00,3.5,0.00,6.21
6659614,EGOS,2016-09-18 23:50,-2.6647,52.7947,59.00,55.40,87.83,250.00,5.8,0.00,6.21
6659615,EGNM,2016-09-18 23:50,-1.6653,53.8618,57.20,55.40,93.69,260.00,8.1,0.00,6.21
6659616,EGPU,2016-09-18 23:50,-6.8806,56.5000,53.60,51.80,93.60,290.00,8.1,0.00,6.21
6659617,EGPI,2016-09-18 23:50,-6.2567,55.6819,55.40,51.80,87.65,300.00,11.5,0.00,6.21
6659618,EGXU,2016-09-18 23:50,-1.2511,54.0453,57.20,53.60,87.74,200.00,3.5,0.00,6.21
6659619,EGPM,2016-09-18 23:50,-1.2961,60.4328,55.40,53.60,93.65,210.00,12.7,0.00,6.21
6659620,EGOP,2016-09-18 23:50,-4.3667,51.7167,60.80,59.00,93.79,220.00,5.8,0.00,6.21
6659621,EGGW,2016-09-18 23:50,-0.3683,51.8747,59.00,53.60,82.25,280.00,9.2,0.00,6.21
6659622,EGPL,2016-09-18 23:50,-7.3628,57.4811,53.60,48.20,81.87,260.00,11.5,0.00,6.21
6659623,EGSH,2016-09-18 23:50,1.3000,52.6333,55.40,55.40,100.00,300.00,4.6,0.00,5.59
6659624,EGUB,2016-09-18 23:50,-1.0987,51.6202,53.60,51.80,93.60,20.00,1.2,0.00,6.21
6659625,EGWU,2016-09-18 23:50,-0.4167,51.5500,59.00,53.60,82.25,300.00,4.6,0.00,6.21
6659626,EGXZ,2016-09-18 23:50,-1.3821,54.2055,55.40,53.60,93.65,140.00,2.3,0.00,6.21
6659627,EGPD,2016-09-18 23:50,-2.2053,57.2049,59.00,53.60,82.25,270.00,3.5,0.00,6.21
6659628,EGXV,2016-09-18 23:50,-0.4350,53.8758,55.40,53.60,93.65,270.00,2.3,0.00,6.21
6659629,EGNS,2016-09-18 23:50,-4.6333,54.0833,57.20,53.60,87.74,350.00,9.2,0.00,6.21
6659630,EGGP,2016-09-18 23:50,-2.8500,53.3333,59.00,57.20,93.74,250.00,5.8,0.00,5.59
6659631,EGDR,2016-09-18 23:50,-5.2571,50.0843,59.00,59.00,100.00,260.00,5.8,0.00,2.11
6659632,EGOV,2016-09-18 23:50,-4.5365,53.2527,59.00,57.20,93.74,300.00,2.3,0.00,6.21
6659633,EGXS,2016-09-18 23:50,0.1521,53.4749,59.00,59.00,100.00,320.00,11.5,0.00,6.21
6659634,EGPA,2016-09-18 23:50,-2.9014,58.9536,55.40,53.60,93.65,250.00,8.1,0.00,6.21
6659635,EGDM,2016-09-18 23:50,-1.7546,51.1618,55.40,51.80,87.65,300.00,5.8,0.00,6.21
6659636,EGCC,2016-09-18 23:50,-2.2750,53.3537,59.00,57.20,93.74,220.00,3.5,0.00,6.21
6659637,EGUL,2016-09-18 23:58,0.5610,52.4093,51.26,51.26,100.00,100.00,2.3,0.00,6.21
6659638,EGUN,2016-09-18 23:58,0.4864,52.3619,54.14,54.14,100.00,150.00,3.5,0.00,6.21

In [24]:
weather_cl.drop(0,inplace=True)
weather_cl.head()

,station,date,long,lat,temp (F),dew (F),humidity,wind direction,wind speed (mph),prec (in),visibility (mi)
1,EGLC,2000-01-01 10:20,0.0553,51.5053,48.20,44.60,87.28,310.00,2.3,M,6.21
2,EGLL,2000-01-01 15:20,-0.4614,51.4785,48.20,44.60,87.28,180.00,5.8,M,6.21
3,EGKK,2000-01-01 15:20,-0.1903,51.1481,48.20,44.60,87.28,M,3.5,M,6.21
4,EGLL,2000-01-01 15:50,-0.4614,51.4785,48.20,44.60,87.28,190.00,3.5,M,6.21
5,EGKK,2000-01-01 15:50,-0.1903,51.1481,48.20,44.60,87.28,M,2.3,M,6.21

In [25]:
len(weather_cl)

6659638

In [19]:
weather_cl.to_csv('/home/llevin/Desktop/capstone/weather_data/weather_df.csv')

NameError: name 'weather_cl' is not defined

In [20]:
weather_cl = pd.read_csv('/home/llevin/Desktop/capstone/weather_data/weather_df.csv')

/home/llevin/anaconda2/envs/dsi/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,6,7,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)